@charset "UTF-8";
html {
	height: 100%;
}
body {
	margin: 0; 
  	height: 100vh;
}
.formSubmitBtns {
	width: 150px;
	margin: auto;
    background: #efefef;
 	border: none;
  	border-radius: .5rem;
  	color: #444;
  	font-size: 1rem;
 	font-weight: 700;
  	letter-spacing: .2rem;
  	outline: none;
  	transition: .2s ease-in-out;
  	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
             	-6px -6px 10px rgba(255, 255, 255, .5),
              	6px 6px 8px rgba(255, 255, 255, .075),
              	6px 6px 10px rgba(0, 0, 0, .15);
}
.linkBtns {
	padding: .5em 1em;
  	background: #efefef;
  	border: none;
  	border-radius: .5rem;
  	color: #444;
  	font-size: 1rem;
  	font-weight: 700;
  	letter-spacing: .2rem;
  	outline: none;
  	transition: .2s ease-in-out;
 	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
   	            -6px -6px 10px rgba(255, 255, 255, .5),
       	    	 6px 6px 8px rgba(255, 255, 255, .075),
            	 6px 6px 10px rgba(0, 0, 0, .15);
}
.updateInfoBtn {
	padding: .5em 1em;
  	background: #efefef;
  	border: none;
  	border-radius: .5rem;
  	color: #444;
  	font-size: 1rem;
  	font-weight: 700;
  	letter-spacing: .2rem;
  	outline: none;
  	transition: .2s ease-in-out;
 	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
   	            -6px -6px 10px rgba(255, 255, 255, .5),
       	    	 6px 6px 8px rgba(255, 255, 255, .075),
            	 6px 6px 10px rgba(0, 0, 0, .15);
}
.modalBtns {
	margin: auto;
	padding: .5em 1em;
  	background: #f2a6a6;
  	border: none;
  	border-radius: .5rem;
  	color: #444;
  	font-size: 1rem;
  	font-weight: 700;
  	letter-spacing: .2rem;
  	outline: none;
  	transition: .2s ease-in-out;
 	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
   	            -6px -6px 10px rgba(255, 255, 255, .5),
       	    	 6px 6px 8px rgba(255, 255, 255, .075),
            	 6px 6px 10px rgba(0, 0, 0, .15);
}
.adminBtns {
	margin: auto;
	padding: .5em 1em;
  	background: #f2a6a6;
  	border: none;
  	border-radius: .5rem;
  	color: #444;
  	font-size: 1rem;
  	font-weight: 700;
  	letter-spacing: .2rem;
  	outline: none;
  	transition: .2s ease-in-out;
 	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
   	            -6px -6px 10px rgba(255, 255, 255, .5),
       	    	 6px 6px 8px rgba(255, 255, 255, .075),
            	 6px 6px 10px rgba(0, 0, 0, .15);
}
.formSubmitBtns:hover, .linkBtns:hover, .updateInfoBtn:hover, .modalBtns:hover, .adminBtns:hover {
	box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              	-2px -2px 4px rgba(255, 255, 255, .4),
              	 2px 2px 2px rgba(255, 255, 255, .05),
              	 2px 2px 4px rgba(0, 0, 0, .1);
}
#adminSearchBtn {
	margin: 0 0 0 10px;
}